{% extends "Base/base.html" %}

{% block content %}
  <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-3 mb-4 font-italic border-bottom">
            {{s.siteSubheading}}
          </h3>

          {% for b in blogData %}
          <div class="blog-post">
            <h2 class="blog-post-title"><a href="{{b.slug}}">{{b.title}}</a></h2>
            <p class="blog-post-meta">{{ moment(b.date).format('MMMM Do YYYY, h:mm a') }} by <a href="/author/{{b.author}}">{{author_name(b.author)}}</a></p>
            <img class="img-responsive" src="{{b.image}}" alt="">
            {{ b.content|safe }}
          </div><!-- /.blog-post -->
          {% endfor %}

          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">Older</a>
            <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
          </nav>

        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
          <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">About</h4>
	    <p class="mb-0">
	      WebsiteMixer is a VERY early stage open source content management system built using Python 3.6 and Flask 1.0.2.
	      <br/><br/>
	      This website is using WebsiteMixer!
	      <br/>
	      <em>Version: <a href="https://github.com/bderstine/WebsiteMixer-App-Base/releases" target="_blank">v0.4.2-alpha</a></em>
	    </p>
          </div>

          <div class="p-3">
            <h4 class="font-italic">Archives</h4>
            <ol class="list-unstyled mb-0">
              <li><a href="#">January 2019</a></li>
            </ol>
          </div>

          <div class="p-3">
            <h4 class="font-italic">Elsewhere</h4>
            <ol class="list-unstyled">
	      <li><a href="https://www.linkedin.com/in/bradderstine/">Brad's LinkedIn</a></li>
              <li><a href="https://github.com/bderstine/WebsiteMixer-App-Base">WebsiteMixer GitHub</a></li>
	      <li><a href="https://www.facebook.com/bizzartech">BizzarTech Facebook</a></li>
              <li><a href="https://twitter.com/bizzartech">BizzarTech Twitter</a></li>
            </ol>
          </div>
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main>
{% endblock %}
