{% extends "admin/base.html" %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
   <h1 class="page-header">Manage Themes</h1>
   <ul id="submenu">
     <li><a href="/admin/themes/add/"><button class="btn btn-success">Add New</button></a></li>
   </ul>

  <div class="table-responsive">
    <table class="table table-striped">
      <tbody>
      <tr>
        <td width="325">
          <img src="{{activeTheme.basics.image}}" width="325">
	</td>
        <td>
	  Name: {{activeTheme.basics.name}} (Version: {{activeTheme.basics.version}}) - <strong>Active</strong><br/>
	  Description: {{activeTheme.basics.summary}}<br/>
          Website: <a href="{{activeTheme.basics.website}}" target="_blank">{{activeTheme.basics.website}}</a><br/>
          Email: <a href="mailto:{{activeTheme.basics.email}}">{{activeTheme.basics.email}}<br/>
          <br/>
          <a href="/admin/themes/edit/{{activeTheme.basics.name|lower}}/"><button class="btn btn-primary">Edit</button></a>
	</td>
      </tr>

      {% for t in themeData %}
      {% if t.basics.name|lower != s.theme %}
      <tr>
        <td width="325">
          <img src="{{t.basics.image}}" width="325">
        </td>
        <td>
          Name: {{t.basics.name}} (Version: {{t.basics.version}})<br/>
          Description: {{t.basics.summary}}<br/>
          Website: <a href="{{t.basics.website}}" target="_blank">{{t.basics.website}}</a><br/>
          Email: <a href="mailto:{{t.basics.email}}">{{t.basics.email}}<br/>
          <br/>
          <a href="/admin/themes/edit/{{t.basics.name|lower}}/"><button class="btn btn-primary">Edit</button></a>
          <a href="/admin/themes/activate/{{t.basics.name|lower}}/"><button class="btn btn-success">Activate</button></a>
          <a href="/admin/themes/delete/{{t.basics.name|lower}}/"><button class="btn btn-danger">Delete</button></a>
        </td>
      </tr>
      {% endif %}
      {% endfor %}

      </tbody>
    </table>
  </div>

</div>
{% endblock %}
