{% extends "admin/base.html" %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
   <h1 class="page-header">Manage Users</h1>
   <ul id="submenu">
     <li><a href="/admin/users/add/"><button class="btn btn-success">Add New</button></a></li>
   </ul>

   <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Registered</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>

      {% for entry in userData %}
      <tr>
         <td>{{ entry.username }}</td>
	 <td><a href="mailto:{{ entry.email }}">{{ entry.email }}</a></td>
         <td>{{ moment(entry.registered_on).format('MMMM Do YYYY, h:mm a') }}</td>
         <td>
                <a href="/admin/users/profile/{{entry.username}}/"><button class="btn btn-primary">Edit</button></a>
                <a href="/admin/users/delete/{{ entry.id }}/"><button class="btn btn-danger">Delete</button></a>
         </td>
      </tr>
      {% endfor %}

      </tbody>
    </table>
  </div>
</div>
{% endblock %}
