{% extends "admin/base.html" %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
   <h1 class="page-header">Manage Posts</h1>
   <ul id="submenu">
     <li><a href="/admin/posts/add/"><button class="btn btn-success">Add New</button></a></li>
   </ul>

   <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Last Update</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>

      {% for entry in postData %}
      <tr>
         <td>
           {{ entry.post_title }}<br/>
           <small>by: {{ entry.post_author }} on {{ moment(entry.post_date).format('MMMM Do YYYY, h:mm a') }}</small>
         </td>
         <td>{{ moment(entry.post_modified).format('MMMM Do YYYY, h:mm a') }}</td>
         <td>
           <a href="/admin/posts/edit/{{entry.id}}/"><button class="btn btn-success">Edit</button></a>
           <a href="/admin/posts/delete/{{ entry.id }}/"><button class="btn btn-danger">Delete</button></a>
           <a href="{{entry.post_slug}}" target="_blank"><button class="btn btn-primary">View</button></a>
         </td>
      </tr>
      {% endfor %}

      </tbody>
    </table>
  </div>

</div>
{% endblock %}
