{% extends "admin/base.html" %}

{% block headjs %}
<script type="text/javascript" src="{{ url_for('static', filename='jscolor/jscolor.js')}}"></script>
{% endblock %}

{% block content %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Manage Settings</h1>

	<form method="post" action="">
        <div class="row">
	  <div class="form-group col-md-4">
	    <label for="siteName">Site Name</label>
	    <input type="text" class="form-control" id="siteName" name="siteName"value="{{s.siteName}}">
	  </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="siteSubheading">Site SubHeading</label>
            <input type="text" class="form-control" id="siteSubheading" name="siteSubheading" value="{{s.siteSubheading}}">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="siteUrl">Site URL</label>
            <input type="text" class="form-control" id="siteUrl" name="siteUrl" value="{{s.siteUrl}}">
          </div>
        </div>

          <div class="row">
            <h1>Color Settings</h1>
          </div>
        <div class="row">
          <div class="form-group col-md-2">
            <label for="headerForeground">Header Text</label>
            <input type="text" class="form-control color" id="headerForeground" name="headerForeground"value="{{s.headerForeground}}">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-2">
            <label for="headerBackground">Header Background</label>
            <input type="text" class="form-control color" id="headerBackground" name="headerBackground" value="{{s.headerBackground}}">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-2">
            <label for="colorLinks">Link Color</label>
            <input type="text" class="form-control color" id="colorLinks" name="colorLinks" value="{{s.colorLinks}}">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-2">
            <label for="colorHover">Site Name</label>
            <input type="text" class="form-control color" id="colorHover" name="colorHover" value="{{s.colorHover}}">
          </div>
        </div>

          <div class="row">
            <h1>Other Settings</h1>
          </div>

        <div class="row">
          <div class="form-group col-md-4">
            <label for="commentCode">Comment Code (Disqus)</label>
            <textarea class="form-control" rows="3" id="commentCode" name="commentCode">{{s.commentCode}}</textarea>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-4">
            <label for="googleAnal">Google Analytics</label>
            <textarea class="form-control" rows="3" id="googleAnal" name="googleAnal">{{s.googleAnal}}</textarea>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-4">
            <label for="siteAds">Adsense/Ad Code</label>
            <textarea class="form-control" rows="3" id="siteAds" name="siteAds">{{s.siteAds}}</textarea>
          </div>
        </div>

          <div class="row">
            <button type="submit" class="btn btn-default">Save Settings</button>
          </div>

	</form>

        </div>
{% endblock %}

