{% extends "admin/base.html" %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1>Add New Theme</h1>

        {% for t in themeData.json_list %}
        <div class="row">
            <div class="col-md-4">
                <a href="#">
                    <img class="img-responsive img-hover" src="{{t.theme_image}}" alt="">
                </a>
            </div>
            <div class="col-md-8">
                <h3>{{t.theme_name}} {{t.theme_version}}</h3>
                <h4>{{t.theme_tags}}</h4>
                <p>{{t.theme_summary}}</p>
                <a class="btn btn-success" href="#">Install Theme</i></a>
            </div>
        </div>
        <hr>
        {% endfor %}

</div>
{% endblock %}
