<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>WebsiteMixer :: Install/Setup</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <style type="text/css">
	body {
	  padding-top: 1rem;
	}
	.starter-template {
	  padding: 3rem 1.5rem;
	  text-align: center;
	}
    </style>
  </head>

  <body>

    <main role="main" class="container">

      {% block content %}{% endblock %}

    </main><!-- /.container -->

    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    {% block footerjs %}{% endblock %}

  </body>
</html>

