{% extends "Install/base.html" %}

{% block content %}
<div style="width:600px;text-align:left;margin-left:auto;margin-right:auto;">
<h1>WebsiteMixer Setup</h1>
<form role="form" method="POST" action="/setup/step3/">
  <h2>Site Information</h2>
  <div class="form-group">
    <label for="sitename">Site Name:</label>
    <input type="text" class="form-control" id="sitename" name="sitename" value="My App">
  </div>
  <div class="form-group">
    <label for="sitedesc">Site Description:</label>
    <input type="text" class="form-control" id="sitedesc" name="sitedesc" value="Custom Python/Flask Site" maxlength="255">
  </div>
  <h2>Add Initial Admin</h2>
  <div class="form-group">
    <label for="admuser">Username:</label>
    <input type="text" class="form-control" id="admuser" name="admuser">
    <p class="help-block">Do not use "admin"!</p>
  </div>
  <div class="form-group">
    <label for="admpwd1">Password:</label>
    <input type="password" class="form-control" id="admpwd1" name="admpwd1">
  </div>
  <div class="form-group">
    <label for="admpwd2">Confirm Password:</label>
    <input type="password" class="form-control" id="admpwd2" name="admpwd2">
  </div>
  <div class="form-group">
    <label for="admemail">Email:</label>
    <input type="text" class="form-control" id="admemail" name="admemail">
  </div>
  <button type="submit" class="btn btn-success">Finish</button>
</form>
</div>
{% endblock %}
