.container {
	max-width:960px;
	margin-left:auto;
	margin-right:auto;
}

.reportcard {
	font-size:14px;
}

.reportcard p{
	margin: 0;
	padding: 0;
}

.intro-header .thin-heading {
  padding: 55px 0 5px;
  color: white;
  text-align: center;
}

.intro-header .thin-heading h1 {
  margin-top: 0;
  font-size: 50px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
     display: block;
}
