{% extends "admin/base.html" %}

{% block headjs %}
<script type="text/javascript" src="{{ url_for('static', filename='jscolor/jscolor.js')}}"></script>
{% endblock %}

{% block content %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Manage Settings</h1>
	<form method="post" action="">
	<table>
	<tr><td></td><td><h3>Site Settings</h3></td></tr>
	<tr><td><div class="label">Name</div></td><td><input type="text" name="siteName" value="{{s.siteName}}" size="55"></td></tr>
        <tr><td><div class="label">Subheading</div></td><td><input type="text" name="siteSubheading" value="{{s.siteSubheading}}" size="55"></td></tr>
	<tr><td><div class="label">Site URL</div></td><td><input type="text" name="siteUrl" value="{{s.siteUrl}}" size="55"></td></tr>
	<tr><td></td><td><input type="submit" value="Save All"></td></tr>
	</table>
	<hr>
	<table>
	<tr><td></td><td><h3>Color Settings</h3></td></tr>
        <tr><td><div class="label">Header Text</div></td><td><input class="color" type="text" name="headerForeground" value="{{s.headerForeground}}" size="20"></td></tr>
	<tr>
	  <td><div class="label">Header Background</div></td>
	  <td><input class="color" type="text" name="headerBackground" value="{{s.headerBackground}}" size="20"></td>
	</tr>
        <tr><td><div class="label">Link Color</div></td><td><input class="color" type="text" name="colorLinks" value="{{s.colorLinks}}" size="20"></td></tr>
        <tr><td><div class="label">Hover Color</div></td><td><input class="color" type="text" name="colorHover" value="{{s.colorHover}}" size="20"></td></tr>
	<tr><td></td><td><input type="submit" value="Save All"></td></tr>
	</table>
	</form>

        </div>
{% endblock %}

