{% extends "admin/base.html" %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
   <h1 class="page-header">Manage Pages</h1>
   <ul id="submenu">
     <li><a href="/admin/pages/add/"><button class="btn btn-success">Add New</button></a></li>
   </ul>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th width="33%">Title</th>
          <th>Actions</th>
          <th>Last Update</th>
        </tr>
      </thead>
      <tbody>

      {% for entry in pageData %}
      <tr>
         <td>{{ entry.page_title }}</td>
         <td>
           <a href="/admin/pages/edit/{{entry.id}}/"><button class="btn btn-success">Edit</button></a>
           <a href="/admin/pages/delete/{{ entry.id }}/"><button class="btn btn-danger">Delete</button></a>
           <a href="{{entry.page_slug}}" target="_blank"><button class="btn btn-primary">View</button></a>
         </td>
         <td>{{ moment(entry.page_modified).format('MMMM Do YYYY, h:mm a') }}</td>
      </tr>
      {% endfor %}

      </tbody>
    </table>
  </div>

</div>
{% endblock %}
