{% extends "Admin/base.html" %}

{% block headjs %}
<script src="{{ url_for('static', filename='ckeditor/ckeditor.js')}}"></script>
{% endblock %}

{% block pagewrapper %}
<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Add New User</h1>

  <form class="myElements" method="post" action="">
  Username<br/><input id="username" type="text" name="username" value="" size="40" required><br/><br/>

  Password<br/><input id="password1" type="password" name="password1" value="" size="40" required><br/>
  Confirm Password<br/><input id="password2" type="password" name="password2" value="" size="40" required><br/><br/>

  Email<br/><input id="email" type="text" name="email" value="" size="55" required><br/><br/>

  <button type="submit" class="btn btn-success">Add</button>

</form>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

<script>
CKEDITOR.replace('content',{
    width: '100%',
    height: '400px',
    uiColor: '#9AB8F3'
});
</script>

{% endblock %}
