{% extends "base.html" %}

{% block header %}
    <header class="intro-header" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="thin-heading">
                    {% block heading %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

