{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            {% for entry in blogData %}
                <div class="post-preview">
                    <a href="{{entry.post_slug}}">
                        <h2 class="post-title">{{entry.post_title}}</h2>
                        <h3 class="post-subtitle">{{entry.post_subheading}}</h3>
                    </a>
                    <p class="post-meta">Posted by <a href="/profile/{{entry.post_author}}/">{{entry.post_author}}</a> on {{entry.post_date}}</p>
                </div>
                <hr>
            {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
