{% extends "base.html" %}

{% block header %}
    <header class="intro-header" style="background-image: url('{{ url_for('static', filename='img/post-bg.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ pageData.page_title }}</h1>
                        <h2 class="subheading">{{ pageData.page_subheading }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
		{{ pageData.page_content|safe }}
                </div>
            </div>
        </div>
    </article>

{% endblock %}
